<link rel="stylesheet" href="~/css/homeindex.css" />
@{
    ViewData["Title"] = "Home Page";
}




<div class="container">
    <div class="row">
        <div class="col-md-6">
            <partial name="../Account/Login.cshtml" />
        </div>
        <div class="col-md-6">
            <partial name="../Shared/TourneyHome.cshtml" />
        </div>
    </div>
</div>