@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container" style="max-width:500px">
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>Email Invite</legend>
                <p>Use this method to send an email invitation automatically.</p>&nbsp;

                <div class="form-group">
                    <label for="inputEmail1" class="col-md-4 control-label">Email*</label>
                    <div class="col-md-7">
                        <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-md-4 control-label">First Name*</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-md-4 control-label" required="">Last Name*</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                </div>                

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-9">
                        <button type="Invite" class="btn btn-primary pull-right">Invite</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

</div>